{{#each entries as |entry| }}
<div class="row mb-4 entry">
  <div class="col-md-5">
    <h2>
      <a href="/entry/{{entry.id}}">{{entry.title}}</a>
    </h2>
    <p>By {{entry.user.name}} on {{format_date entry.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{entry.content}}
    </p>
  </div>
</div>
{{/each}}
